<!-- pages/templates/about.html -->
{% extends 'base.html' %}

{% block content %}
<h1>About page</h1>
<p> I am an avid Discgolfer. I love the sport. I also regularly go to the gym and weighttrain. It makes me happy. I am really excited about what I am learning in this class. I want to find a job in data analytics and Python is mentioned everywhere when I research the job descriptions. Eventually I think it would be really cool to get into machine learning with Python. </p>
{% endblock content %}